@{  
    ViewBag.Title = "Profitability";  
}  

<h3>Przy obecnym kursie i szacunkowych średnich zarobkach, zakup Hotspota zwróci się po: </h3>  
@{   
    var data = ViewBag.Message;    
}  
<h3> @data miesiącach</h3>  