@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Strona dotycząca sieci Blockchain Helium</h1>
    <h2>Aktualnie jest  @ViewBag.Message hotspotów i liczba cały czas rośnie!</h2>
</div>
